
/* Definición de la paleta de colores */
:root {
  --color-principal: #FF8A42;
  --color-secundario-1: #FC72ED;
  --color-secundario-2: #7382E6;
  --color-secundario-3: #72FCD1;
  --color-secundario-4: #C9F26D;
}
ion-toolbar{
    --background:#FF8A42;
}
ion-content{
    --background:#fff;
}
/* Estilos para el título de la lección */
.lesson-title {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido multimedia */
.lesson-media {
  text-align: center;
  padding: 20px;
  img {
    max-width: 100%;
    border: 8px solid #FF8A42;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

/* Estilos para el contenido de la lección */
.lesson-content {
  font-size: 16px;
  padding: 20px;
  h2 {
    color: #FF8A42;
    font-size: 20px;
  }
  p {
    color:#888787;
    line-height: 1.6;
  }
}

/* Estilos para los botones de interacción */
ion-button {
  --border-radius: 20px;
  --background:linear-gradient(to bottom,#FBB23F, #FF8A42);
  --color: #fff;
  margin: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

/* Estilos para los botones de interacción al pasar el mouse */
ion-button:hover {
  --background: #FC72ED;
  transform: scale(1.1);
}


