<ion-header>
  <!-- Encabezado con el título de la evaluación -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lessonscourse4"></ion-back-button>
    </ion-buttons>
    <ion-title class="assessment-title">Evaluación 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Pregunta 1 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregunta 1: ¿Cuál es el propósito principal de un diagrama de flujo?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="respuestas[0]" (ionChange)="manejarRespuestaSeleccionada(0)">
        <ion-item>
          <ion-label class="custom-label">Dibujar imágenes</ion-label>
          <ion-radio slot="start" value="incorrect"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label">Representar procesos</ion-label>
          <ion-radio slot="start" value="correct"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Pregunta 2 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregunta 2: ¿Qué tipo de símbolo se usa comúnmente en los diagramas de flujo para representar una decisión?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="respuestas[1]" (ionChange)="manejarRespuestaSeleccionada(1)">
        <ion-item>
          <ion-label class="custom-label">Un rectángulo</ion-label>
          <ion-radio slot="start" value="incorrect"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label">Un diamante</ion-label>
          <ion-radio slot="start" value="correct"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Pregunta 3 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregunta 3: ¿Qué representan las flechas en un diagrama de flujo?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="respuestas[2]" (ionChange)="manejarRespuestaSeleccionada(2)">
        <ion-item>
          <ion-label class="custom-label">El sol</ion-label>
          <ion-radio slot="start" value="incorrect"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label">La secuencia de pasos </ion-label>
          <ion-radio slot="start" value="correct"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Pregunta 4 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregunta 4:¿Cuál es la utilidad de usar un diagrama de flujo al resolver problemas?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="respuestas[3]" (ionChange)="manejarRespuestaSeleccionada(3)">
        <ion-item>
          <ion-label class="custom-label">Sin utilidad en resolución</ion-label>
          <ion-radio slot="start" value="incorrect"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label">Permite desglosar problemas</ion-label>
          <ion-radio slot="start" value="correct"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Pregunta 5 -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pregunta 5:¿Cuál es el propósito de los símbolos en un diagrama de flujo?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="respuestas[4]" (ionChange)="manejarRespuestaSeleccionada(4)">
        <ion-item>
          <ion-label class="custom-label">Decoración</ion-label>
          <ion-radio slot="start" value="incorrect"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label class="custom-label">Explicar visualmente</ion-label>
          <ion-radio slot="start" value="correct"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Botón de envío -->
  <ion-button (click)="evaluarResultado()">Enviar Respuestas</ion-button>
  <!-- Agrega esto en tu HTML donde desees mostrar el confeti -->
  <div class="evaluacion-result">
    <ion-icon *ngIf="ganarCurso" name="checkmark-circle" color="success" class="evaluacion-icon"></ion-icon>
    <ion-icon *ngIf="!ganarCurso" name="close-circle" color="danger" class="evaluacion-icon"></ion-icon>
     <p *ngIf="ganarCurso" class="evaluacion-message">!Felicidades has aprobado la evaluación!</p>
     <p *ngIf="!ganarCurso" class="evaluacion-message">Lo siento, sigue practicando</p>
  </div>


</ion-content>
