<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
    <ion-img
      src="../../assets/home.PNG"
      alt="Home Image"
    ></ion-img>
    <h2>Bienvenido a KidCoders</h2>
    <p> </p>
    <ion-button routerLink="/login">Inicia Sesión</ion-button>
    <p><strong>o</strong></p>
    <ion-button routerLink="/register">Registrate</ion-button>
  </div>
</ion-content>
